@page "/Assembly"
<h3>Assembly Page</h3>
<div class="body-assembly">
    <div class="code-area">
        <InstructionInputTextArea />
        <ExecutingInstructions />
        <InstructionTable />
    </div>
    <div class="preview-area">
        <RegisterTable />
        <textarea class="memoryArea feedback" placeholder="Memory Area"
                  oninput="showPreview()"></textarea>
    </div>
</div>

@code {
    private string InputTextProvided;
    
    public void CompileInstructions() 
    {
        
    }
}
