@page "/Assembly"
@implements IDisposable
@inject RegisterState registerState
@inject MemoryState memoryState

<h3>Assembly Page</h3>
<div class="body-assembly">
    <div class="code-area">
        <InstructionInputTextArea />
        <ExecutingInstructions />
        <InstructionTable />
    </div>
    <div class="preview-area">
        <RegisterTable @ref="RegisterTableChildComponent" />
        <MemoryArea @ref="MemoryTableChildComponent" />
    </div>
</div>

@code {
    private string InputTextProvided;

    protected RegisterTable RegisterTableChildComponent;

    protected MemoryArea MemoryTableChildComponent;

    protected override void OnInitialized()
    {
        registerState.OnChange += StateHasChanged;
        registerState.OnChange += UpdateRegisterTable;
        registerState.OnChange += UpdateMemoryTable;
    }

    private void UpdateRegisterTable()
    {
        RegisterTableChildComponent.RefreshMe();
    }    
    
    private void UpdateMemoryTable()
    {
        MemoryTableChildComponent.RefreshMe();
    }

    public void Dispose()
    {
        registerState.OnChange -= StateHasChanged;
        registerState.OnChange -= UpdateRegisterTable;
        registerState.OnChange -= UpdateMemoryTable;
    }
}
