@page "/Assembly"
@implements IDisposable
@inject RegisterState registerState

<h3>Assembly Page</h3>
<div class="body-assembly">
    <div class="code-area">
        <InstructionInputTextArea />
        <ExecutingInstructions />
        <InstructionTable />
    </div>
    <div class="preview-area">
        <RegisterTable @ref="RegisterTableChildComponent" />
        <MemoryArea />
    </div>
</div>

@code {
    private string InputTextProvided;

    protected RegisterTable RegisterTableChildComponent;

    protected override void OnInitialized()
    {
        registerState.OnChange += StateHasChanged;
        registerState.OnChange += UpdateRegisterTable;
    }

    private void UpdateRegisterTable()
    {
        RegisterTableChildComponent.RefreshMe();
    }

    public void Dispose()
    {
        registerState.OnChange -= StateHasChanged;
        registerState.OnChange -= UpdateRegisterTable;
    }
}
