<div class="info-area-container">
    <h5>Available Instructions:</h5>
    <table class="table table-sm feedback">
        <thead>
            <tr>
                <th scope="col">Instruction</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var instruction in GetSetInstructions())
            {
                <tr>
                    <th scope="row">@instruction.Key</th>
                    <td>@instruction.Value</td>
                </tr>
            }
        </tbody>
    </table>
</div>
@code {
    private InstructionSet instructionSet = new InstructionSet();

    private Dictionary<string, string> GetSetInstructions()
    {
        return instructionSet.Instructions;
    }
}
