@inject Registers registers

<h4>Registers:</h4>

<table class="table feedback">
    <thead>
        <tr>
            <th scope="col">Register</th>
            <th scope="col">Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var register in registers.RegisterRepo)
        {
            <tr>
                <th scope="row">@register.Key</th>
                <td>@register.Value.Value.ToString()</td>
            </tr>

        }
    </tbody>
</table>

@code {

}
